@font-face {
    font-family: 'Poppins';
    src: url(/fonts/Poppins-Regular.ttf);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: url(/fonts/Poppins-Bold.ttf);
    font-weight: bold;
    font-style: normal;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
}

.logo-esquerdo, .logo-planeta, .logo-social {
    user-select: none;
    -webkit-user-drag: none;
    -webkit-user-drag: none;
}

.menu-navegação {
    background: linear-gradient(135deg, #1b2735, #090a0f, #2e2e2e);
    padding: 2px 2%;
    position: fixed;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 2;
}

.link-menu, .link-rodapé, .link-social {
    text-decoration: none;
    color: #fff;
}

.menu-esquerdo .link-menu {
    display: flex;
    align-items: center;
    user-select: none;
    -webkit-user-drag: none;
    font-size: 16px;
}

.logo-esquerdo {
    max-width: 35px;
    margin-right: 10px;
}

.lista-menu {
    list-style: none;
    display: flex;
}

.item-menu {
    margin-left: 20px;
}

.item-botão, .botão-principal {
    padding: 5px 25px;
    background-color: transparent;
    border: 2px solid #ffffff;
    color: #ffffff;
    font-weight: 700;
    transition: all 0.25s;
    user-select: none;
}

.item-botão:hover, .botão-principal:hover {
    background-color: #ffffff;
    color: #000;
    cursor: pointer;
}

.item-botão:active, .botão-principal:active {
    background-color: gray;
    border: 2px solid gray;
    transform: scale(0.9);
}

.pagina-principal {
    flex: 1;
    margin-top: 51px;
    display: flex;
    flex-direction: column;
}

.pagina-inicial {
    height: 91.5vh;
    background-image: url(/img/imagem-de-fundo/sistema-solar.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 25%;
}

.item-principal {
    text-align: center;
    color: #ffffff;
    font-size: 20px;
    text-shadow: 2px 2px 3px #000;
}

.descrição-principal {
    padding: 20px 0;
}

.botão-principal {
    padding: 5px 85px;
}

.pagina-secudária {
    background-image: url(/img/imagem-de-fundo/espacial.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 0 2%;
}

.informação-secúdaria {
    display: flex;
    margin: 200px 0 200px;
    justify-content: space-between;
}

.imagem-secudária {
    max-width: 600px;
}

.texto-secudária {
    color: #ffffff;
    width: 50%;
    text-shadow: 2px 2px 3px #000;
}

.descrição-secudária {
    margin-top: 20px;
}

.rodapé {
    color: #ffffff;
    background: linear-gradient(135deg, #1b2735, #090a0f, #2e2e2e);
    padding: 0 2%;
}

.lista-container {
    padding: 60px 0;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #ffffff;
    flex-wrap: wrap;
}

.titulo-rodapé {
    margin-bottom: 20px;
    font-size: 16px;
    font-weight: 700;
}

.item-rodapé {
    margin-top: 10px;
}

.lista-rodapé {
    min-width: 200px;
}

.listas-rodapé {
    list-style: none;
}

.rodapé-final {
    padding: 30px 0;
    display: flex;
    justify-content: space-between;
}

.rede-social {
    height: 0;
}

.lista-social {
    display: inline-block;
}

.logo-social {
    max-width: 25px;
    margin-left: 5px;
    border-radius: 200px;
}

/*Smartphone*/
@media (min-width: 320px) and (max-width: 599px) {

    .lista-navegação, .item-botão {
        display: none;
    }

    .pagina-inicial {
        padding: 0 4%;
        background-repeat: no-repeat;
    }

    .titulo-principal {
        line-height: 1.3;
    }

    .informação-secúdaria {
        flex-direction: column;
        margin: 150px 0 150px;
        align-items: center;
    }

    .imagem-secudária {
        max-width: 90vw;
        order: 0;
    }

    .texto-secudária {
        width: 100%;
        text-align: center;
        margin-top: 15px;
        order: 1;
    }

    .lista-container {
        padding: 40px 0;
        flex-direction: column;
    }

    .lista-rodapé {
        margin: 20px 0 20px;
    }

    .rodapé-final {
        text-align: center;
        flex-direction: column;
    }

    .rede-social {
        margin-top: 20px;
        height: initial;
    }

}    

/*Tablet*/
@media (min-width: 600px) and (max-width: 1023px) {
    .lista-navegação, .item-botão {
        display: none;
    }

    .pagina-inicial {
        padding: 0 12%;
        background-repeat: no-repeat;
    }

    .titulo-principal {
        line-height: 1.3;
    }

    .informação-secúdaria {
        flex-direction: column;
        margin: 150px 0 150px;
        align-items: center;
    }

    .imagem-secudária {
        max-width: 90vw;
        order: 0;
    }

    .texto-secudária {
        width: 100%;
        text-align: center;
        margin-top: 15px;
        order: 1;
    }

    .lista-container {
        padding: 40px 0;
    }

    .lista-rodapé {
        margin: 20px 0 20px;
    }

    .rodapé-final {
        text-align: center;
        flex-direction: column;
    }

    .rede-social {
        margin-top: 20px;
        height: initial;
    }
}